---
BasedOnStyle: LLVM
Language: Cpp
Standard: Latest

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortLambdasOnASingleLine: None

InsertBraces: true

PointerAlignment: Left
ReferenceAlignment: Left

SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true

SpacesInParentheses: false
SpacesInSquareBrackets: false

AlignAfterOpenBracket: Align
AlignOperands: Align
AlignTrailingComments: true

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 2

BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false

IndentCaseLabels: true

NamespaceIndentation: None
FixNamespaceComments: true

EmptyLineBeforeAccessModifier: LogicalBlock
AccessModifierOffset: -1

MaxEmptyLinesToKeep: 1

SortIncludes: true
IncludeBlocks: Regroup

Cpp11BracedListStyle: true
ReflowComments: true
...
